@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    .container {
        width: 100%;
        position: relative;
        .navigation {
            position: fixed;
            width: 300px;
            height: 100%;
            background-color: rgb(255, 148, 223);
            transition: 0.5s;
            overflow: hidden;
            &.active {
                width: 60px;
            }
            ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                li {
                    position: relative;
                    white-space: nowrap;
                    // display: flex;
                    width: 100%;
                    list-style: none;
                    &:hover {
                        cursor: pointer;
                        background: rgb(255, 183, 233);
                    }
                    &:nth-child(1) {
                        margin-bottom: 30px;
                        font-size: 23px;
                        font-weight: bold;
                        &:hover {
                            background: transparent;
                        }
                    }
                    a {
                        position: relative;
                        // white-space: nowrap;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        color: #fff;
                        .icon {
                            position: relative;
                            // display: block;
                            min-width: 60px;
                            height: 60px;
                            line-height: 60px;
                            text-align: center;
                            padding-left: 20px;
                            .fa {
                                color: #fff;
                                font-size: 27px;
                            }
                        }
                        .title{
                            position: relative;
                            // display: block;
                            padding:  0 17px;
                            height: 60px;
                            line-height: 60px;
                            white-space: nowrap;
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                left: -300px;
                &.active {
                    width: 300px;
                    left: 0;
                }
            }
            @media (max-width: 550px) {
                 width: 100%;
                 left: -100%;
                 z-index: 100;
                 &.active {
                     width: 100%;
                     left: 0;
                 }
            }
        }
        .main {
            position: absolute;
            left: 300px;
            width: calc(100% - 300px);
            min-height: 100vh;
            background: #f5f5f5;
            transition: 0.5s;
            &.active {
                width: calc(100% - 60px);
                left: 60px;
            }
            @media (max-width: 992px) {
                width: 100%;
                left: 0;
                &.active {
                    width: calc(100% - 300px);
                    left: 300px;
                }
            }
            .topbar {
                width: 100%;
                background: #fff;
                height: 60px;
                display: flex;
                padding: 0 10px;
                justify-content: space-between;
                align-items: center;
                .toggle{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    &::before{
                        content:'\f0c9';
                        font-family: fontAwesome;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        line-height: 60px;
                        font-size: 24px;
                        text-align: center;
                        color: #111;
                    }
                    @media (max-width: 550px) {
                       &.active {
                           position: fixed;
                           z-index: 100;
                           right: 0;
                           left: initial;
                            &::before {
                                color: #fff;
                            }
                       }
                    }
                }
                .search{
                    position: relative;
                    width: 400px;
                    margin: 0 10px;
                    label {
                        position: relative;
                        align-items: center;
                        width: 100%;
                        input {
                            width: 100%;
                            height: 40px;
                            border-radius: 40px;
                            padding: 5px 20px;
                            outline: none;
                            border: 1px solid rgba(0,0,0,0.2);
                        }
                    }
                    
                }
                .user{
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }  
            }
            .cardBox {
                position: relative;
                width: 100%;
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                @media (max-width: 992px) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (max-width: 450px) {
                    grid-template-columns: repeat(1, 1fr);
                }
                .card {
                    position: relative;
                    background-color: #fff;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    padding: 10px;
                    border-radius: 10px;
                    .numbers{
                        position: relative;
                        font-size: 1.5em;
                        font-weight: 500;
                    }
                    .cardName {
                        color: #999;
                        margin-top: 20px;
                    }
                    .iconBox {
                        font-size: 1.5em;
                        color: rgb(211, 42, 174);
                    }
                }
            }
            .details {
                position: relative;
                display: grid;
                grid-gap: 20px;
                grid-template-columns: 2fr 1fr;
                width: 100%;
                padding: 20px;
                padding-top: 0;
                @media(max-width: 750px) {
                    grid-template-columns: repeat(1,1fr);
                }
                .recentOrders {
                    position: relative;
                    // display: grid;
                    min-height: 350px;
                    background: #fff;
                    padding: 20px;
                    @media(max-width: 550px) {
                        overflow-x: auto;
                        table {
                            width: 600px;
                        }
                    }
                    .cardHeader {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        h2 {
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .btn {
                            position: relative;
                            padding: 5px 10px;
                            background: rgb(211, 42, 174);
                            text-decoration: none;
                            color: #fff;
                            border-radius: 6px;
                        }
                    }
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        margin-top: 10px;
                        thead{
                            td{
                                font-weight: 600;
                                &:last-child{
                                    text-align: right;
                                }
                                &:nth-child(2){
                                    text-align: right;
                                    padding-right: 20px;
                                }
                                &:nth-child(3){
                                    text-align: right;
                               
                                }
                            
                            }
                        }
                        tbody {
                            tr{
                                border-bottom: 1px  solid rgba(0, 0,0,0.2);
                                &:hover {
                                    background: rgb(255, 148, 223);
                                    color: #fff;
                                    cursor: pointer;
                                }
                                &:last-child {
                                    border-bottom: none;
                                }
                                td:last-child{
                                    text-align: right;
                                }
                                td:nth-child(2){
                                    text-align: right;
                                    padding-right: 20px;
                                }
                                td:nth-child(3){
                                    text-align: right;
                                }
                            
                            }
                        }
                       .status {
                           position: relative;
                           padding: 2px 4px;
                           color: #fff;
                           border-radius: 4px;
                           font-size: 14px;
                           font-weight: 300;
                           letter-spacing: 1px;
                       }
                       .deliverd {
                           background-color: rgb(64, 177, 60);
                       }
                       .pending {
                           background-color: rgb(255, 234, 42);
                       }
                       .return {
                            background-color: red;
                       }
                       .inprogress {
                           background-color: rgb(82, 127, 248);
                       }
                    }
                }
                .recentCustomers {
                    position: relative;
                    display: grid;
                    min-height: 350px;
                    background-color: #fff;
                    padding: 20px;
                    h2{
                        font-size: 20px;
                    }
                   tr {
                       padding: 15px;
                        td {
                            .imgB {
                                position: relative;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                overflow: hidden;
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            h4{
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 1.2em;
                            }
                            span{
                                 font-size: 14px;
                                 color: #999;
                            }
                        }
                        &:hover {
                            background-color: rgb(236, 236, 236);
                            color: #fff;
                            cursor: pointer;
                        }
                   }
                }
            }
        }
    }
}