@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body .container {
  width: 100%;
  position: relative;
}
body .container .navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: rgb(32, 36, 121);
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}
body .container .navigation.active {
  width: 80px;
}
body .container .navigation .nav-logo {
  color: #fff;
  white-space: nowrap;
}
body .container .navigation .nav-logo a {
  text-decoration: none;
}
body .container .navigation .nav-logo a span {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
body .container .navigation .nav-logo a span .fa {
  font-size: 32px;
  padding: 20px 35px 20px 20px;
}
body .container .navigation .nav-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
body .container .navigation .nav-content .nav-row {
  margin-top: 20px;
}
body .container .navigation .nav-content .nav-row .row-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
body .container .navigation .nav-content .nav-row .row-btn:hover {
  background-color: rgb(18, 21, 85);
}
body .container .navigation .nav-content .nav-row .row-btn a {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}
body .container .navigation .nav-content .nav-row .row-btn a span {
  color: #fff;
  width: 60px;
  height: 40px;
}
body .container .navigation .nav-content .nav-row .row-btn a span .fa {
  font-size: 32px;
  padding-right: 18px;
}
@media (max-width: 680px) {
  body .container .navigation .nav-content .nav-row .row-btn a span .fa {
    font-size: 25px;
  }
}
body .container .navigation .nav-content .nav-row .row-btn > span .fa {
  color: #fff;
  font-size: 18px;
}
body .container .navigation .nav-content .nav-row .row-btn #arrow.animated {
  transform: rotate(90deg);
}
body .container .navigation .nav-content .nav-row .subnav-content {
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
}
body .container .navigation .nav-content .nav-row .subnav-content ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
}
body .container .navigation .nav-content .nav-row .subnav-content ul li a {
  color: #fff;
  text-decoration: none;
}
body .container .navigation .nav-content .nav-row .subnav-content ul li:hover {
  background-color: #ececec;
}
body .container .navigation .nav-content .nav-row .subnav-content ul li:hover a {
  color: rgb(32, 36, 121);
}
body .container .navigation .nav-content .nav-row .subnav-content.animated {
  height: 0 !important;
}
@media (max-width: 992px) {
  body .container .navigation {
    left: -300px;
  }
  body .container .navigation.active {
    width: 300px;
    left: 0;
  }
}
@media (max-width: 680px) {
  body .container .navigation {
    width: 100%;
    left: -100%;
    z-index: 100;
  }
  body .container .navigation.active {
    width: 100%;
    left: 0;
  }
}
body .container .main {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}
body .container .main.active {
  width: calc(100% - 80px);
  left: 80px;
}
@media (max-width: 992px) {
  body .container .main {
    width: 100%;
    left: 0;
  }
  body .container .main.active {
    width: calc(100% - 300px);
    left: 300px;
  }
}
@media (max-width: 680px) {
  body .container .main.active {
    width: 100%;
    left: 0;
  }
}
body .container .main .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}
body .container .main .topbar .toggle {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
body .container .main .topbar .toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  color: #111;
}
@media (max-width: 680px) {
  body .container .main .topbar .toggle.active {
    position: absolute;
    z-index: 100;
    right: 0;
    left: initial;
  }
  body .container .main .topbar .toggle.active::before {
    color: #fff;
  }
}
body .container .main .topbar button {
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
}
body .container .main .topbar button.user {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
body .container .main .topbar button.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .main .topbar .search {
  width: 400px;
  margin: 0 10px;
}
body .container .main .topbar .search input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  body .container .main .topbar .search {
    width: 250px;
  }
}
body .container .main .topbar .profileBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  right: -100vw;
  transition: 0.5s ease-in;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
body .container .main .topbar .profileBackdrop .profile-modal {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 350px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100vw;
  z-index: 10;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
@media (max-width: 680px) {
  body .container .main .topbar .profileBackdrop .profile-modal {
    width: 100%;
  }
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 36, 121);
  color: #fff;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header > span {
  padding: 10px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id {
  flex: 1;
  text-align: center;
  margin: 30px 0;
  font-size: 16px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id .img-container {
  position: relative;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: block;
  margin: 10px auto;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id h3 {
  margin: 0;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id p {
  font-size: 15px;
  margin: 0;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id p:nth-of-type(2) {
  margin-top: 10px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id .all-btn {
  height: 34px;
  padding: 17px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id .all-btn button {
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 550px) {
  body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id .all-btn button {
    display: inline-block;
  }
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-header .image-id .all-btn button:nth-of-type(1) {
  border-left: 1px solid rgb(151, 151, 151);
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .organization {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(208, 208, 208);
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .organization p {
  flex: 1;
  font-size: 18px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .organization a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .organization a p {
  color: #268ddd;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .organization a:hover {
  color: #062f4f;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .info {
  display: flex;
  align-items: baseline;
  padding: 15px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .info .profile-info {
  flex: 1;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .info .profile-info p {
  margin: 2px;
  font-size: 10px;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .info .profile-info p:first-child {
  font-size: 12px;
  color: #000;
}
body .container .main .topbar .profileBackdrop .profile-modal .profile-content .info:hover {
  cursor: pointer;
  background-color: #ccc;
}
body .container .main .word-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
}
body .container .main .word-content .cardbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 15px;
}
@media (max-width: 768px) {
  body .container .main .word-content .cardbox {
    grid-template-columns: repeat(1, 1fr);
  }
}
body .container .main .word-content .cardbox .card {
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .container .main .word-content .cardbox .card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
body .container .main .word-content .cardbox .card .card-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}
body .container .main .word-content .cardbox .card:first-child {
  background-color: rgb(255, 255, 135);
}
body .container .main .word-content .cardbox .card:nth-of-type(2) {
  background-color: rgb(161, 255, 161);
}
body .container .main .word-content .cardbox .card:last-child {
  background-color: rgb(254, 215, 255);
}
body .container .main .progress-content {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
body .container .main .progress-content .times-content {
  margin-top: 15px;
}
body .container .main .progress-content .times-content .times-btns {
  display: flex;
  gap: 16px;
}
body .container .main .progress-content .times-content .times-btns button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}
body .container .main .progress-content .times-content .times-btns button.btn-active {
  background-color: rgb(32, 36, 121);
  color: #fff;
}
body .container .main .progress-content .times-content .times-grid {
  margin-top: 20px;
}
body .container .main .progress-content .times-content .times-grid .content {
  display: none;
}
body .container .main .progress-content .times-content .times-grid .content:nth-of-type(1) {
  display: block;
}
body .container .main .progress-content .times-content .times-grid .content .btn-content {
  display: grid;
  grid-gap: 15px;
}
body .container .main .progress-content .times-content .times-grid .content .btn-content .day-card {
  text-align: center;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  padding: 10px;
}
body .container .main .progress-content .times-content .times-grid .content .btn-content .day-card input {
  margin-top: 10px;
}
@media (max-width: 375px) {
  body .container .main .progress-content .times-content .times-grid .content .btn-content .day-card {
    font-size: 14px;
  }
}
body .container .main .progress-content .times-content .times-grid #daily .btn-content {
  grid-template-columns: repeat(7, 1fr);
}
@media (max-width: 992px) {
  body .container .main .progress-content .times-content .times-grid #daily .btn-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  body .container .main .progress-content .times-content .times-grid #daily .btn-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
body .container .main .progress-content .times-content .times-grid #weekly .btn-content, body .container .main .progress-content .times-content .times-grid #monthly .btn-content {
  grid-template-columns: repeat(4, 1fr);
}
body .container .main .recent-winners {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
}
body .container .main .recent-winners .table-container {
  margin-top: 15px;
  width: 100%;
}
body .container .main .recent-winners .table-container ::-webkit-scrollbar {
  width: 6px;
}
body .container .main .recent-winners .table-container ::-webkit-scrollbar-thumb {
  background: rgb(32, 36, 121);
  border-radius: 4px;
}
body .container .main .recent-winners .table-container ::-webkit-scrollbar-track {
  background: #f3f3f3;
}
body .container .main .recent-winners .table-container .table-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(32, 36, 121);
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-weight: bold;
}
body .container .main .recent-winners .table-container .table-content {
  height: 175px;
  overflow: auto;
  background-color: rgb(246, 246, 246);
  text-align: center;
  border-radius: 0 0 10px 10px;
}
body .container .main .recent-winners .table-container .table-content .table-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
body .container .main .recent-winners .table-container .table-content .table-item > div .img-container {
  display: block;
  margin: auto;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
body .container .main .recent-winners .table-container .table-content .table-item > div .img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .main .recent-winners .table-container .table-content .table-item > div button {
  background-color: rgb(231, 231, 0);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
body .container .main .recent-winners .table-container .table-content .table-item:hover {
  background-color: #fff;
  cursor: pointer;
}
body .container .main .friends-content {
  margin: 20px;
  padding: 20px;
}
body .container .main .friends-content .cardbox {
  display: flex;
  gap: 10px;
}
body .container .main .friends-content .cardbox .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(32, 36, 121);
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  padding: 20px;
  flex: 0.5;
}/*# sourceMappingURL=style.css.map */